@media screen and (max-width: 1441px) {
	.text {
		line-height: 1.5;
	}
	.hero__heading {
		font-size: 3.5vw;
	}
	.responsibilities__heading,
	.heading {
		font-size: 2.5vw;
	}
	/* jobs page */
	.features::after {
		top: 4%;
		right: 4%;
		width: 80%;
	}
	.features__heading {
		width: 85%;
	}
	.features__text {
		max-width: 85%;
	}
	.features__list {
		grid-template-rows: repeat(4, 260px);
	}
	.features-list__card {
		width: 17vw;
		height: 17vw;
	}
	.features-list__card::before,
	.jobs-list__item::after {
		width: 5.5vw;
		height: 5.5vw;
	}
	.features-list__card::before {
		left: 50%;
		transform: translateX(-50%);
	}
	.jobs-list__item {
		width: 75%;
	}
	.jobs-item__heading {
		font-size: 22px;
	}
	.jobs__text::before {
		left: 50%;
		transform: translateX(-50%);
		width: 120%;
	}
	/* projects page */
	.section .fixed {
		align-items: center;
	}
	.section__content-wrap {
		width: 40%;
	}
	.section__text {
		font-size: 16px;
	}
	.summer-friends__logo {
		width: 20vw;
	}
	.darkest-afk__logo {
		width: 14vw;
	}
	.wondermatch__logo {
		width: 25vw;
	}
	.video-wrap {
		padding-top: 3vw;
		padding-right: 3vw;
	}
	.video-wrap::after {
		right: 0;
	}
	/* services page */
	.services-heading {
		font-size: 2.5vw;
	}
	/* contacts page */
	.contacts-wrap {
		width: 65%;
	}
	.contacts__list {
		justify-content: space-around;
	}
	.contacts-list__item {
		font-size: 14px;
	}
	.contact-us__link-wrap {
		width: 40%;
	}
}
@media screen and (max-width: 1200px) {
	.nav {
		position: absolute;
		top: 94px;
		right: 0;
		width: 300px;
		height: auto;
		padding: 20px;
		background-color: var(--color-bg-violet);
		z-index: 2;
		transform: translateY(-350%);
		transition: all 0.2s ease-out;
	}
	.nav.is-active {
		transform: none;
	}
	.nav-list {
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-list__item {
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.header__burger-container {
		display: block;
		position: relative;
		height: 30px;
		width: 40px;
	}
	.header__burger-container:hover > .header__burger-lines > .burger__line {
		background-color: #cecece;
	}
	.header__burger {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
	}
	.burger__lines {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.burger__lines .burger__line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: #fff;
		transition: background 0.3s ease-in-out;
	}
	.burger__lines .burger__line .burger__line1,
	.burger__lines .burger__line .burger__line2,
	.burger__lines .burger__line .burger__line3 {
		transition: transform 0.3s ease-in-out;
	}
	.burger__lines.is-active .burger__line1 {
		transform: rotate(-45deg) translate(-4px, 11px);
	}
	.burger__lines.is-active .burger__line2 {
		transform: scaleY(0);
	}
	.burger__lines.is-active .burger__line3 {
		transform: rotate(45deg) translate(-7px, -14px);
	}
	.container {
		padding: 0 var(--gap);
	}
	.hero {
		flex-direction: column;
	}
	.hero,
	.process,
	.team,
	.contact-us {
		margin-bottom: var(--margin);
	}
	.hero::after {
		display: none;
	}
	.hero > picture,
	.hero__img {
		order: -1;
	}
	.hero__img {
		width: 60vw;
		border-bottom-left-radius: 30%;
		margin-bottom: var(--margin-inner);
	}
	.hero > .content-wrap {
		text-align: center;
	}
	.hero__text {
		max-width: 100%;
		line-height: 26px;
	}
	.hero__text::after {
		left: 67%;
		top: 90%;
		height: 120px;
		width: 120px;
	}
	.footer {
		padding-left: var(--gap);
		padding-right: var(--gap);
	}
	/* about */
	.about-us {
		margin-bottom: var(--margin);
	}
	.about-us__text {
		width: 60%;
		margin: 0 auto var(--margin);
	}
	.img-wrap {
		max-width: 55%;
	}
	.about-us-slide__img {
		width: inherit;
		max-height: 27vw;
		border-radius: 400px 0px 400px 400px;
	}
	.content-wrap.about-us-slider__content-wrap {
		width: 50%;
	}
	.about-us__avatar {
		display: block;
		width: 9vw;
		height: 9vw;
		margin-right: var(--margin-inner);
		border-radius: 50%;
	}

	.about-us-slider__sidebar {
		display: none;
	}
	.about-section__item {
		justify-content: space-evenly;
	}
	/* jobs */
	.features {
		grid-template-columns: 40vw 20vw 20vw;
		grid-gap: var(--marg0n-inner);
	}
	.features__content-wrap {
		margin-top: var(--margin-outer);
	}
	.features-list__card {
		width: 21vw;
		height: 19vw;
	}
	.tab {
		width: 100%;
	}
	.tab__link {
		font-size: 2vw;
	}
	/* projects */
	.fixed {
		flex-direction: column;
		align-items: center;
	}
	.section .fixed {
		top: 50%;
		align-items: center;
		padding-bottom: var(--gap);
	}
	.section__content-wrap {
		width: 80%;
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.section__text {
		font-size: 16px;
	}
	.section__logo {
		align-self: center;
	}
	.video-wrap {
		width: 70%;
		padding: 0;
	}
	.video-wrap::after {
		top: 84%;
		right: -6%;
	}
	/* services page */
	.content-wrap {
		width: 60%;
		padding-left: 0;
		margin-right: 0;
	}
	.services-heading,
	.services-subheading {
		text-align: center;
	}

	.process__img {
		margin-right: var(--margin-inner);
	}
	.process__subheading::after {
		left: -4px;
	}
	.link,
	.contacts-list__text {
		font-size: 21px;
	}
	.contact-us {
		flex-direction: column;
		padding-left: var(--margin-inner);
		padding-right: var(--margin-inner);
		text-align: center;
	}
	.contact-us__text-wrap {
		margin-bottom: var(--margin-inner);
	}
	.contact-us__text-wrap::after {
		top: -20px;
		left: -45px;
		width: 120px;
		height: 120px;
		transform: rotate(-180deg);
	}
	.contact-us__text {
		font-size: 20px;
	}
	.contact-us__link-wrap::before {
		top: -19px;
		left: 0;
		width: 34vw;
		height: 100px;
	}
	.contact-us__link-wrap::after {
		top: -177px;
		right: -160px;
		width: 160px;
		height: 160px;
	}
	/* contacts page */
	.contacts {
		width: 80%;
		text-align: center;
	}
	.contacts-img {
		width: 45%;
	}
	.contacts-list {
		justify-content: center;
		padding: var(--margin-inner);
		border-radius: 35px;
	}
	.contacts-list::before {
		top: 40px;
	}
	.contacts-list__item:first-child {
		margin-left: var(--margin-inner);
	}
	.contacts-list__item:last-child {
		margin-right: var(--margin-inner);
	}
	.responsibilities::before {
		left: -6%;
		bottom: -15%;
	}
	/* responsibilities list */
	.responsibilities__heading {
		margin-top: var(--margin-inner);
	}
	.links-list__link {
		font-size: 2vw;
	}
}
@media screen and (max-width: 850px) {
	.nav {
		top: 79px;
	}
	.header__logo-img {
		width: 50px;
		height: 50px;
	}
	.link {
		font-size: 18px;
	}
	.hero__heading {
		margin-bottom: 10px;
	}
	/* about */
	.about-us__text {
		width: 100%;
	}
	.about-us-slide {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.content-wrap.about-us-slider__content-wrap {
		width: 90%;
		margin: 0 auto;
	}
	.about-us-slide {
		margin-bottom: 10px;
	}
	.about-us-slide__heading {
		font-size: 21px;
	}
	.about-us-slide__text {
		max-width: 85%;
		margin: 0 auto var(--margin-inner);
	}
	.img-wrap {
		max-width: 80%;
	}
	.img-wrap::after {
		width: 12vw;
		height: 12vw;
		border-width: 6px;
	}
	.about-us-slide__img {
		min-height: 43vw;
		margin-right: 0;
	}
	.about-us-slide:nth-child(3) .about-us-slide__img {
		border-radius: 400px 0px 400px 400px;
	}
	.about-us-slider__buttons {
		transform: none;
	}
	.about-section__item,
	.about-section__item:nth-child(2n) {
		flex-direction: column-reverse;
		align-items: center;
	}
	.about-section:last-child {
		margin-bottom: var(--gap);
	}
	.about-section__img-wrap {
		width: 90%;
	}
	.about-section__subtitle,
	.about-section__item:nth-child(2n) .about-section__subtitle,
	.about-section__subheading,
	.about-section__subheading--sm {
		text-align: center;
	}
	.about-section__subheading--sm {
		margin-bottom: 10px;
	}
	.about-section__heading {
		margin-bottom: var(--margin-inner);
	}
	.about-section__subheading {
		font-size: 19px;
	}
	.about-section__content-wrap {
		min-width: 80%;
		margin: 0 auto var(--margin-inner);
	}

	/* jobs */
	.features {
		grid-template-columns: repeat(1, 100%);
		justify-items: center;
	}
	.features__content-wrap {
		margin: 0 auto;
		text-align: center;
	}
	.features__heading,
	.features__text {
		max-width: 90%;
		width: 90%;
		margin: 0 auto;
	}
	.features__heading {
		margin-bottom: 10px;
	}
	.features__text {
		margin-bottom: var(--margin-inner);
	}
	.features__heading::after {
		display: none;
	}
	.features__text::after {
		bottom: 42%;
	}
	.features__list {
		grid-template-rows: repeat(4, 290px);
		gap: var(--margin-inner);
	}
	.features-list__card {
		width: 35vw;
		height: 30vw;
	}
	.features-list__card::before {
		width: 10.5vw;
		height: 10.5vw;
	}
	.features::after {
		top: 12%;
		right: 0%;
		width: 100%;
	}
	.jobs__heading {
		margin-bottom: var(--margin-inner);
	}
	.jobs__heading::after {
		width: 72px;
		height: 57px;
	}
	.tab__content {
		width: 100%;
		padding-left: var(--gap);
	}
	.jobs-list__item {
		width: 86%;
	}
	.jobs-list__item::after {
		right: 50px;
	}
	.jobs-item__heading {
		font-size: 18px;
	}
	.jobs-item__text {
		width: 90%;
	}
	/* services page */
	.team__subheading::after {
		display: none;
	}
	/* contacts page */
	.contacts,
	.contacts-img {
		width: 90%;
	}
	.contacts {
		margin: 0;
		padding: 0 var(--gap);
	}
	.contacts__list {
		box-sizing: border-box;
		flex-direction: column;
		align-items: center;
		border-radius: 25px;
	}
	.contacts-list::before {
		top: 204px;
		left: -35px;
		width: 80px;
		height: 80px;
	}
	.contacts-list__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.contacts-list__item:first-child {
		margin-left: 0;
	}
	.contacts-list__item:last-child {
		margin-right: 0;
	}
}
@media screen and (max-width: 600px) {
	.container {
		padding: 0 var(--margin-inner);
	}
	.header {
		padding: 10px var(--gap);
	}
	.responsibilities__heading,
	.heading {
		font-size: 4.5vw;
	}
	.hero__img {
		width: 80vw;
	}
	.hero__heading {
		font-size: 5.5vw;
	}
	.responsibilities__heading,
	.services-heading {
		font-size: 4.5vw;
		padding: 0;
	}
	.hero__text::after {
		width: 100px;
		height: 100px;
		top: -247px;
		left: 80%;
	}
	.footer {
		flex-direction: column;
	}
	.footer__text {
		margin-bottom: 10px;
	}
	.footer__text,
	.footer__link {
		font-size: 2.5vw;
	}
	/* jobs */
	.features::after {
		top: 21%;
	}
	.features__list {
		display: flex;
		flex-direction: column;
	}
	.features-list__card {
		width: 55vw;
		height: 45vw;
	}

	.tab {
		flex-direction: column;
		height: 100%;
		border-radius: 10%;
		padding: var(--margin-inner) 10px;
	}
	.tab__content {
		width: 100%;
		padding-left: 30px;
	}
	.tab__link {
		font-size: 5vw;
	}
	.tab__link:not(:last-child) {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.jobs-list__item {
		width: 100%;
		margin-bottom: var(--gap);
		padding-left: var(--margin-inner);
	}
	.jobs-list__item::after {
		display: none;
	}
	.jobs-item__heading {
		font-size: 18px;
	}
	.jobs-item__text {
		padding-left: 10px;
		font-size: 14px;
	}
	.text.jobs-item__text {
		max-width: 100%;
		width: 98%;
	}
	.jobs__text::before {
		border-top-left-radius: 90px;
	}
	.features-list__card::before,
	.jobs-list__item::after {
		width: 12.5vw;
		height: 12.5vw;
	}
	/* projects page */
	.section .fixed {
		top: 55%;
		width: 99%;
	}
	.summer-friends__logo {
		width: 40vw;
	}
	.darkest-afk__logo {
		width: 26vw;
	}
	.wondermatch__logo {
		width: 60vw;
	}
	.video-wrap {
		width: 85%;
	}
	.video-wrap::after {
		top: 90%;
		right: -6%;
		width: 12vw;
		height: 12vw;
	}

	/* services page */
	.content-wrap {
		width: 80%;
	}
	.services-subheading {
		font-size: 20px;
	}
	.team {
		border-radius: 100px 0 100px 0;
	}
	.team__subheading {
		font-size: 24px;
		text-align: center;
	}
	.team__subheading::after {
		display: none;
	}
	.process {
		flex-direction: column;
	}
	.process__img {
		max-width: 85vw;
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.process__subheading {
		font-size: 22px;
		text-align: center;
	}
	.process-list {
		padding-left: var(--margin-inner);
	}
	.contact-us__text-wrap::after {
		top: -29px;
		left: 239px;
		width: 90px;
		height: 130px;
		transform: rotateX(45deg);
	}
	.contact-us__link-wrap {
		width: 70%;
	}
	.contact-us__link-wrap::before {
		left: -26px;
		width: 280px;
	}
	.contact-us__link-wrap::after {
		display: none;
	}
	.contact-us__text {
		font-size: 18px;
	}
	/* responsibilities */
	.responsibilities {
		margin: var(--gap);
		border-top-left-radius: 40px;
	}
	.responsibilities::before,
	.responsibilities::after {
		width: 50px;
		height: 50px;
	}
	.responsibilities::before {
		bottom: -27px;
		left: -30px;
	}
	.responsibilities::after {
		top: -27px;
		right: -30px;
	}
	.responsibilities__heading {
		margin-top: 10px;
		margin-bottom: var(--margin-inner);
	}
	.links-list__item {
		margin-bottom: 10px;
	}
	.links-list__link {
		font-size: 3vw;
		line-height: 1.5;
	}
}
@media screen and (max-width: 400px) {
	.burger__lines.is-active .burger__line1 {
		transform: rotate(-45deg) translate(-1px, 11px);
	}
	.burger__lines.is-active .burger__line3 {
		transform: rotate(45deg) translate(-4px, -14px);
	}
	.nav {
		top: 80px;
	}
	.header__logo-img {
		width: 55px;
		height: 55px;
	}
	.header__burger-container {
		width: 35px;
		height: 25px;
	}
	.hero,
	.team,
	.process {
		margin-bottom: var(--gap);
	}
	.hero__heading {
		font-size: 5vw;
	}
	/* about */
	.about-us__avatar {
		width: 14vw;
		height: 14vw;
		margin-right: 10px;
	}
	.about-us-slide__heading {
		font-size: 18px;
	}
	.about-us-slide__text {
		max-width: 100%;
		font-size: 15px;
	}
	.img-wrap {
		max-width: 100%;
		margin-right: 0;
	}
	.about-us-slide__img {
		max-height: 74vw;
	}
	.about-us-slide__img::after {
		width: 15vw;
		height: 15vw;
	}
	/* jobs */
	.features-list__card {
		width: 66vw;
		height: 52vw;
	}
	.card__text {
		font-size: 14px;
	}
	.features-list__card::before,
	.jobs-list__item::after {
		width: 18.5vw;
		height: 18.5vw;
	}
	.jobs__text::before {
		width: 100%;
		border-top-left-radius: 90px;
	}
	/* services */
	.hero__img {
		width: 90vw;
	}
	.content-wrap {
		width: 90%;
	}
	.hero__text::after {
		display: none;
	}
	.services-subheading {
		font-size: 18px;
	}
	.team {
		padding: var(--gap) var(--margin-inner);
	}
	.process > .content-wrap {
		width: 98%;
	}
	.process__img {
		max-width: 98vw;
	}
	.process__subheading::after {
		width: 130px;
		height: 130px;
	}
	.link {
		font-size: 18px;
	}
	.contact-us {
		padding: 0;
	}
	.contact-us__text-wrap::after {
		top: -23px;
		left: 200px;
	}
	.contact-us__link-wrap {
		width: 90%;
	}
	.contact-us__link-wrap::before {
		left: 10px;
	}
	.contact-us__link {
		font-size: 14px;
	}
	/* contacts */
	.contatc-us {
		padding: 0;
	}
	.contacts {
		padding: var(--margin-inner) var(--margin-inner) 0;
	}
	.contacts-list::before {
		top: 196px;
		left: -26px;
	}
	.contacts-list::after {
		right: -25px;
		width: 90px;
		height: 90px;
	}
	.contacts-list__text {
		font-size: 18px;
	}
	.contact-us__text,
	.contact-us .link {
		font-size: 16px;
	}
	.contact-us .link {
		margin-bottom: 10px;
	}
	.contact-us__text--small {
		font-size: 14px;
	}
	/* responsibilities */
	.responsibilities__heading {
		font-size: 4vw;
	}
}
