@media screen and (max-width: 1441px) {
	.hero__heading {
		font-size: 3.5vw;
	}
	.responsibilities__heading {
		font-size: 2.5vw;
	}
	/* projects page */
	.section .fixed {
		align-items: center;
	}
	.section__content-wrap {
		width: 40%;
	}
	.section__text {
		font-size: 16px;
	}
	.summer-friends__logo {
		width: 20vw;
	}
	.darkest-afk__logo {
		width: 14vw;
	}
	.wondermatch__logo {
		width: 25vw;
	}
	.video-wrap {
		padding-top: 3vw;
		padding-right: 3vw;
	}
	.video-wrap::after {
		right: 0;
	}
	/* services page */
	.services-heading {
		font-size: 2.5vw;
	}
	/* contacts page */
	.contacts-wrap {
		width: 65%;
	}
	.contacts__list {
		justify-content: space-around;
	}
	.contacts-list__item {
		font-size: 14px;
	}
	.contact-us__link-wrap {
		width: 40%;
	}
}
@media screen and (max-width: 1200px) {
	.nav {
		position: absolute;
		top: 94px;
		right: 0;
		width: 300px;
		height: auto;
		padding: 20px;
		background-color: var(--color-bg-violet);
		z-index: 2;
		transform: translateY(-350%);
		transition: all 0.2s ease-out;
	}
	.nav.is-active {
		transform: none;
	}
	.nav-list {
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-list__item {
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.header__burger-container {
		display: block;
		position: relative;
		height: 30px;
		width: 40px;
	}
	.header__burger-container:hover > .header__burger-lines > .burger__line {
		background-color: #cecece;
	}
	.header__burger {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
	}
	.burger__lines {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.burger__lines .burger__line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: #fff;
		transition: background 0.3s ease-in-out;
	}
	.burger__lines .burger__line .burger__line1,
	.burger__lines .burger__line .burger__line2,
	.burger__lines .burger__line .burger__line3 {
		transition: transform 0.3s ease-in-out;
	}
	.burger__lines.is-active .burger__line1 {
		transform: rotate(-45deg) translate(-4px, 11px);
	}
	.burger__lines.is-active .burger__line2 {
		transform: scaleY(0);
	}
	.burger__lines.is-active .burger__line3 {
		transform: rotate(45deg) translate(-7px, -14px);
	}
	.container {
		padding: 0 var(--gap);
	}
	.hero {
		flex-direction: column;
	}
	.hero,
	.process,
	.team,
	.contact-us {
		margin-bottom: var(--margin);
	}
	.hero::after {
		display: none;
	}
	.hero__img {
		order: -1;
		border-top-right-radius: 10%;
		border-bottom-left-radius: 30%;
		margin-bottom: var(--margin-inner);
	}
	.hero > .content-wrap {
		text-align: center;
	}
	.hero__text {
		max-width: 100%;
		line-height: 26px;
	}
	.hero__text::after {
		left: 88%;
		top: 40spx;
	}
	.footer {
		padding-left: var(--gap);
		padding-right: var(--gap);
	}
	/* projects */
	.fixed {
		flex-direction: column;
		align-items: center;
	}
	.section .fixed {
		top: 50%;
		align-items: center;
		padding-bottom: var(--gap);
	}
	.section__content-wrap {
		width: 80%;
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.section__text {
		font-size: 16px;
	}
	.section__logo {
		align-self: center;
	}
	.video-wrap {
		width: 70%;
		padding: 0;
	}
	.video-wrap::after {
		top: 84%;
		right: -6%;
	}
	/* services page */
	.content-wrap {
		width: 60%;
		padding-left: 0;
		margin-right: 0;
	}
	.services-heading,
	.services-subheading {
		text-align: center;
	}

	.process__img {
		margin-right: var(--margin-inner);
	}
	.process__subheading::after {
		left: -4px;
	}
	.link,
	.contacts-list__text {
		font-size: 21px;
	}
	.contact-us {
		flex-direction: column;
		padding-left: var(--margin-inner);
		padding-right: var(--margin-inner);
		text-align: center;
	}
	.contact-us__text-wrap {
		margin-bottom: var(--margin-inner);
	}
	.contact-us__text-wrap::after {
		top: -20px;
		left: -45px;
		width: 120px;
		height: 120px;
		transform: rotate(-180deg);
	}
	.contact-us__text {
		font-size: 20px;
	}
	.contact-us__link-wrap::before {
		top: -19px;
		left: 0;
		width: 34vw;
		height: 100px;
	}
	.contact-us__link-wrap::after {
		top: -177px;
		right: -160px;
		width: 160px;
		height: 160px;
	}
	/* contacts page */
	.contacts {
		width: 80%;
		text-align: center;
	}
	.contacts-img {
		width: 45%;
	}
	.contacts-list {
		justify-content: center;
		padding: var(--margin-inner);
		border-radius: 35px;
	}
	.contacts-list::before {
		top: 40px;
	}
	.contacts-list__item:first-child {
		margin-left: var(--margin-inner);
	}
	.contacts-list__item:last-child {
		margin-right: var(--margin-inner);
	}
	.responsibilities::before {
		left: -6%;
		bottom: -15%;
	}
	/* responsibilities list */
	.responsibilities__heading {
		margin-top: var(--margin-inner);
	}
	.links-list__link {
		font-size: 2vw;
	}
}
@media screen and (max-width: 850px) {
	/* services page */
	.team__subheading::after {
		display: none;
	}
	/* contacts page */
	.contacts,
	.contacts-img {
		width: 90%;
	}
	.contacts {
		margin: 0;
	}
	.contacts {
		padding-left: var(--gap);
		padding-right: var(--gap);
	}
	.contacts__list {
		box-sizing: border-box;
		flex-direction: column;
		align-items: center;
		border-radius: 25px;
	}
	.contacts-list::before {
		top: 204px;
		left: -35px;
		width: 80px;
		height: 80px;
	}
	.contacts-list__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.contacts-list__item:first-child {
		margin-left: 0;
	}
	.contacts-list__item:last-child {
		margin-right: 0;
	}
}
@media screen and (max-width: 600px) {
	.container {
		padding: 0 var(--margin-inner);
	}
	.header {
		padding: 10px var(--gap);
	}
	.hero__img {
		width: 80%;
	}
	.hero__heading {
		font-size: 5.5vw;
	}
	.responsibilities__heading,
	.services-heading {
		font-size: 4.5vw;
		padding: 0;
	}
	.hero__text::after {
		width: 100px;
		height: 100px;
		top: -247px;
		left: 80%;
	}
	.footer {
		flex-direction: column;
	}
	.footer__text {
		margin-bottom: 10px;
	}
	.footer__text,
	.footer__link {
		font-size: 2.5vw;
	}
	/* projects page */
	.section .fixed {
		top: 45%;
		width: 99%;
	}
	.summer-friends__logo {
		width: 40vw;
	}
	.darkest-afk__logo {
		width: 26vw;
	}
	.wondermatch__logo {
		width: 60vw;
	}
	.video-wrap {
		width: 85%;
	}
	.video-wrap::after {
		top: 90%;
		right: -6%;
		width: 12vw;
		height: 12vw;
	}

	/* services page */
	.content-wrap {
		width: 80%;
	}
	.services-subheading {
		font-size: 20px;
	}
	.team {
		border-radius: 100px 0 100px 0;
	}
	.team__subheading {
		font-size: 24px;
		text-align: center;
	}
	.team__subheading::after {
		display: none;
	}
	.process {
		flex-direction: column;
	}
	.process__img {
		max-width: 85%;
		margin-right: 0;
		margin-bottom: var(--margin-inner);
	}
	.process__subheading {
		font-size: 22px;
		text-align: center;
	}
	.process-list {
		padding-left: var(--margin-inner);
	}
	.contact-us__text-wrap::after {
		top: -29px;
		left: 239px;
		width: 90px;
		height: 130px;
		transform: rotateX(45deg);
	}
	.contact-us__link-wrap {
		width: 70%;
	}
	.contact-us__link-wrap::before {
		left: -26px;
		width: 280px;
	}
	.contact-us__link-wrap::after {
		display: none;
	}
	.contact-us__text {
		font-size: 18px;
	}
	/* responsibilities */
	.responsibilities {
		margin: var(--gap);
		border-top-left-radius: 40px;
	}
	.responsibilities::before,
	.responsibilities::after {
		width: 50px;
		height: 50px;
	}
	.responsibilities::before {
		bottom: -27px;
		left: -30px;
	}
	.responsibilities::after {
		top: -27px;
		right: -30px;
	}
	.responsibilities__heading {
		margin-top: 10px;
		margin-bottom: var(--margin-inner);
	}
	.links-list__item {
		margin-bottom: 10px;
	}
	.links-list__link {
		font-size: 3vw;
		line-height: 1.5;
	}
}
@media screen and (max-width: 400px) {
	.burger__lines.is-active .burger__line1 {
		transform: rotate(-45deg) translate(-1px, 11px);
	}
	.burger__lines.is-active .burger__line3 {
		transform: rotate(45deg) translate(-4px, -14px);
	}
	.nav {
		top: 80px;
	}
	.header__logo-img {
		width: 55px;
		height: 55px;
	}
	.header__burger-container {
		width: 35px;
		height: 25px;
	}
	.hero,
	.team,
	.process {
		margin-bottom: var(--gap);
	}
	.hero__heading {
		font-size: 5vw;
	}
	/* services */
	.hero__img,
	.content-wrap {
		width: 90%;
	}
	.hero__text::after {
		display: none;
	}
	.services-subheading {
		font-size: 18px;
	}
	.team {
		padding: var(--gap) var(--margin-inner);
	}
	.process > .content-wrap {
		width: 98%;
	}
	.process__img {
		max-width: 100%;
	}
	.process__subheading::after {
		width: 130px;
		height: 130px;
	}
	.link {
		font-size: 18px;
	}
	.contact-us {
		padding: 0;
	}
	.contact-us__text-wrap::after {
		top: -23px;
		left: 200px;
	}
	.contact-us__link-wrap {
		width: 90%;
	}
	.contact-us__link-wrap::before {
		left: 10px;
	}
	.contact-us__link {
		font-size: 14px;
	}
	/* contacts */
	.contatc-us {
		padding: 0;
	}
	.contacts {
		padding: var(--margin-inner) var(--margin-inner) 0;
	}
	.contacts-list::before {
		top: 196px;
		left: -26px;
	}
	.contacts-list::after {
		right: -25px;
		width: 90px;
		height: 90px;
	}
	.contacts-list__text {
		font-size: 18px;
	}
	.contact-us__text,
	.contact-us .link {
		font-size: 16px;
	}
	.contact-us .link {
		margin-bottom: 10px;
	}
	.contact-us__text--small {
		font-size: 14px;
	}
	/* responsibilities */
	.responsibilities__heading {
		font-size: 4vw;
	}
}
