@font-face {
	font-family: 'Roboto';
	src: local('RobotoLight'), local('Roboto-Light'),
		url(../assets/fonts/roboto-light-webfont.woff2),
		url(../assets/fonts/roboto-light-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoLightItalic'), local('Roboto-Light-Italic'),
		url(../assets/fonts/roboto-lightitalic-webfont.woff2),
		url(../assets/fonts/roboto-lightitalic-webfont.woff);
	font-display: swap;
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoRegular'), local('Roboto-Regular'),
		url(../assets/fonts/roboto-regular-webfont.woff2),
		url(../assets/fonts/roboto-regular-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoMedium'), local('Roboto-Medium'),
		url(../assets/fonts/roboto-medium-webfont.woff2),
		url(../assets/fonts/roboto-medium-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoBold'), local('Roboto-Bold'),
		url(../assets/fonts/roboto-bold-webfont.woff2),
		url(../assets/fonts/roboto-bold-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
:root {
	--color-main: #2a2d93;
	--color-link: #0071bd;
	--color-bg-blue: rgba(0, 113, 189, 0.19);
	--color-bg-darkviolet: rgba(46, 49, 146, 0.12);
	--color-bg-violet: rgba(42, 45, 147, 0.92);
	--color-text: #565656;
	--margin-outer: 100px;
	--margin: 80px;
	--gap: 40px;
	--margin-inner: 20px;
}
*,
*::before,
::after {
	box-sizing: border-box;
	outline: none;
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100vh;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.link-reset {
	display: inline-block;
	color: currentColor;
	text-decoration: none;
}
.list-reset {
	padding: 0;
	list-style: none;
}
.btn-reset {
	background-color: transparent;
	border: 1px solid transparent;
}
.link-reset,
.btn-reset {
	transition: all 0.3s ease-in-out;
}
.link {
	font-size: 20px;
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
}
.container,
.projects-container {
	margin: 0 auto;
	padding: 0 var(--margin-outer);
}
.heading {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 2.5vw;
	line-height: 110%;
	text-transform: uppercase;
}
.subheading {
	font-weight: 500;
	font-size: 26px;
	line-height: 110%;
}
.text,
.card__text,
.process-list__item,
.team-list__item {
	font-weight: 400;
	font-size: 16px;
	color: var(--color-text);
}
.text {
	max-width: 75%;
	line-height: 1.5;
}
.link {
	position: relative;
	font-weight: 400;
	color: var(--color-link);
	mix-blend-mode: normal;
}
.subtitle {
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-text);
}
/* header */
.header,
.nav-list,
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header {
	padding: 10px 100px;
	background-color: var(--color-bg-violet);
	z-index: 10;
}
.header__logo-img {
	width: 70px;
	height: 70px;
}
.nav-list__item:not(:last-child) {
	margin-right: 30px;
}
.nav-list__link {
	position: relative;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	text-transform: uppercase;
}
.header__burger-container,
.about-us__avatar,
.about-us__thumbnail.is-active picture > .preview {
	display: none;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(46, 49, 146, 0.46);
}
/* hero */
.content-wrap {
	width: 50%;
	margin-right: 20px;
	padding-top: 10px;
	padding-left: 120px;
}
.hero {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-start;
	margin-bottom: calc(var(--margin-outer) + var(--gap));
}
.hero::after {
	content: '';
	position: absolute;
	right: 50px;
	bottom: -100px;
	width: 240px;
	height: 130px;
	border-bottom-right-radius: 80px;
	background-color: var(--color-bg-darkviolet);
	z-index: -1;
}
.hero__heading,
.hero__subheading,
.section__logo,
.about-section__subheading--sm,
.links-list__item {
	margin-bottom: var(--margin-inner);
}
.hero__img {
	width: 45vw;
	height: 100%;
	border-bottom-left-radius: 40%;
}
/* footer */
footer-component {
	margin-top: auto;
}
.footer {
	padding: 23.5px 100px;
	color: #fff;
	background-color: var(--color-main);
}
.footer__text,
.footer__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
}
.footer__link,
.hero__text,
.features,
.features__heading,
.features__text,
.contact-us__text-wrap,
.contact-us__link-wrap {
	position: relative;
}
/* projects page */
.projects {
	position: relative;
	height: inherit;
}
.projects-footer {
	position: absolute;
	bottom: 0;
}
.section {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	clip: rect(0, auto, auto, 0);
}
.section .fixed {
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: centar;
	width: 80%;
	padding-bottom: 50px;
}
.section:nth-child(1) {
	top: 0;
	z-index: 1;
}
.section:nth-child(2) {
	top: 100vh;
	z-index: 2;
}
.section:nth-child(3) {
	top: 200vh;
	z-index: 3;
}
.section:nth-child(1) .fixed,
.section:nth-child(2) .fixed,
.section:nth-child(3) .fixed {
	transform: translate(-50%, -50%);
}
.section__content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	margin-right: 6vw;
}
.video-wrap {
	position: relative;
	width: 52%;
	padding-top: 3vw;
	padding-right: 3vw;
}
.video-wrap::after {
	content: '';
	position: absolute;
	right: 0;
	top: -18px;
	width: 8vw;
	height: 8vw;
	background: url(/assets/images/dot.svg);
	background-repeat: no-repeat;
	z-index: -1;
}
.section__video {
	width: 100%;
	border-radius: 20px;
}
.section__text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 160%;
	color: #fff;
}
.summer-friends {
	background-color: #03b1fe;
}
.summer-friends__logo {
	width: 20vw;
}
.darkest-afk {
	background-color: #000;
}
.darkest-afk__logo {
	width: 14vw;
}
.wondermatch {
	background-color: #0663b1;
}
.wondermatch__logo {
	width: 25vw;
}
.footer-component {
	position: absolute;
	top: 310vh;
	right: 0;
	left: 0;
	z-index: 4;
}
/* about us page */
.about-us,
.office,
.process,
.features,
.contact-us {
	margin-bottom: var(--margin-outer);
}
.about-us,
.about-us-slider__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-us__text {
	position: relative;
	width: 45%;
	margin-bottom: var(--margin);
}
.about.about-us__text::after,
.hero__text::after,
.features__text::after {
	content: '';
	position: absolute;
	width: 220px;
	height: 220px;
	background: url('../assets/images/Dot.svg') no-repeat;
	z-index: -1;
}
.about-us__text::after {
	bottom: -70px;
	left: 26px;
}
.slider-container {
	display: inline-flex;
	flex-wrap: nowrap;
}

.about-us-slide {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: stretch;
	transition: all 0.3s ease-in-out;
}
.about-us-slide.hidden {
	height: 0;
	width: 0;
	opacity: 0;
	transform: translateX(-200vw);
	z-index: -1;
}
.img-wrap {
	position: relative;
	align-self: center;
	max-width: 50%;
	margin-right: var(--margin-inner);
}
.img-wrap::after {
	content: '';
	position: absolute;
	width: 7vw;
	height: 7vw;
	border: 8px solid var(--color-bg-violet);
	border-radius: 50%;
	z-index: -1;
}
.about-us-slide:first-child .img-wrap::after {
	bottom: 10%;
	left: 0;
}
.about-us-slide:nth-child(2) .img-wrap::after {
	bottom: -6%;
	left: 20%;
}
.about-us-slide:nth-child(3) .img-wrap::after {
	bottom: -8%;
	left: 0;
}
.about-us-slide__img {
	width: inherit;
	max-height: 21vw;
	border-radius: 500px 0px 500px 500px;
}
.about-us__heading-wrap {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.about-us-slide:nth-child(2) .about-us-slide__img {
	border-radius: 10%;
}
.about-us-slide:nth-child(3) .about-us-slide__img {
	max-height: 19vw;
	border-radius: 20%;
}
.about-us-slide > .content-wrap {
	padding-left: 0;
}
.about-us-slide__heading,
.card__text {
	text-align: center;
}
.about-us-slide__text {
	max-width: 100%;
	margin-bottom: var(--gap);
	text-align: left;
}
.about-us-slider__buttons {
	transform: translateX(10vw);
}
.about-us-slider__btn {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #cacaca;
	background-color: #cacaca;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.about-us-slider__btn:not(:last-child) {
	margin-right: var(--margin-inner);
}
.about-us-slider__btn.is-active {
	background-color: var(--color-main);
	border-color: var(--color-main);
}
.about-us__thumbnail {
	display: flex !important;
	justify-content: space-between;
	align-items: flex-end;
	width: 100% !important;
	height: 100px;
	margin-bottom: 10px;
}
.customize-tools {
	height: 100%;
	width: 15vw;
}
.thumbnails {
	position: relative;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	transition: all 0.3s ease-out;
}
.thumbnails::after {
	content: '';
	position: absolute;
	top: -3%;
	left: 32%;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background-color: var(--color-bg-darkviolet);
	z-index: -1;
}
.thumbnails img {
	max-height: 6.5vw;
}
.about-us-thumb-img {
	border-radius: 50%;
	justify-self: flex-end;
	cursor: pointer;
}
.about-us-thumb-img:last-child {
	margin-left: auto;
}
.about-us__thumbnail.is-active {
	border: none;
	grid-area: 2;
	justify-content: center;
	margin: 0 auto;
}
.about-us__thumbnail.is-active img {
	transform: scale(1.1, 1.1);
}
.preview {
	transform: scale(0.7, 0.8);
	width: 80px;
	height: 70px !important;
	justify-self: flex-end;
	align-self: flex-end;
}

.about-section:last-child {
	margin-bottom: calc(var(--margin-outer) * 2);
}
.about-section__heading {
	text-align: center;
	margin-bottom: var(--gap);
}
.about-section__item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: var(--gap);
}
.about-section__item:nth-child(2n) {
	flex-direction: row-reverse;
}
.about-section__content-wrap {
	max-width: 40%;
}
.about-section__item:nth-child(2n) .about-section__subtitle {
	text-align: right;
}
.about-section__img-wrap {
	width: 40%;
	height: auto;
}
.about-section__img {
	width: 100%;
	max-height: 450px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 32px;
	box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
}
.slide-left,
.slide-right,
.slide-top {
	opacity: 0;
}
.scrolled.slide-left {
	animation: slide-in-left 1s ease-in-out both;
}
.scrolled.slide-right {
	animation: slide-in-right 1s ease-in-out both;
}
.scrolled.slide-top {
	animation: slide-in-top 1s ease-in-out both;
}
.scrolled.slide-slow {
	animation-duration: 1.5s;
}
@keyframes slide-in-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-top {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.about-section__subheading {
	margin-bottom: 10px;
}
.about-section__text {
	position: relative;
	max-width: 100%;
}
.about-section__text::after,
.process__subheading::after {
	content: '';
	position: absolute;
	width: 141px;
	height: 160px;
	left: -20px;
	top: -14px;
	background: var(--color-bg-darkviolet);
	border-radius: 0px 0px 100px 0px;
	z-index: -1;
}
/* jobs page */
.hero__text::after {
	left: 60px;
}
.features {
	display: grid;
	grid-template-columns: 500px 280px 200px;
	grid-gap: var(--margin);
	justify-content: center;
	align-items: baseline;
}
.features::after,
.features__heading::after,
.features__text::after,
.jobs__text::before,
.team__subheading::after,
.process__subheading::after {
	content: '';
	position: absolute;
}
.features::after,
.jobs__text::before {
	background-color: var(--color-bg-darkviolet);
	border-radius: 150px 0px 0px 0px;
	opacity: 0.5;
	z-index: -1;
}
.features::after {
	top: 7vw;
	right: 4vw;
	width: 85%;
	height: 80%;
}
.features__heading {
	width: 90%;
}
.features__heading::after {
	top: -85%;
	left: -20px;
	width: 162px;
	height: 178px;
	background: var(--color-bg-blue);
	border-radius: 0px 0px 100px 0px;
	transform: rotate(-180deg);
}
.features__text {
	max-width: 90%;
	margin: 0 auto;
}
.features__text::after {
	left: 0;
	bottom: -70%;
}
.features__list {
	display: grid;
	grid-template-rows: repeat(4, 330px);
	grid-gap: var(--margin-inner) var(--gap);
	grid-auto-flow: column;
}
.features-list__card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: var(--margin-inner);
	gap: 10px;
	width: 255px;
	min-height: 264px;
	border: 1px solid #f2f2f2;
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
	border-radius: 40px;
}
.features-list__card::before {
	content: '';
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
}
.features-list__card.heart::before {
	background-image: url('../assets/images/icons/heart_icon.png');
}
.features-list__card.balance::before {
	background-image: url('../assets/images/icons/balance_icon.png');
}
.features-list__card.communication::before {
	background-image: url('../assets/images/icons/communication3_icon.png');
}
.features-list__card.muscle::before {
	background-image: url('../assets/images/icons/muscle_icon.png');
}
.features-list__card.programs::before {
	background-image: url('../assets/images/icons/programs4_icon.png');
}
.features-list__card.puzzle::before {
	background-image: url('../assets/images/icons/puzzle_icon.png');
}
.features-list__card.superman::before {
	background-image: url('../assets/images/icons/superman_icon.png');
}
.heart,
.communication,
.balance {
	align-self: flex-end;
}
.features-list__card:nth-child(1n + 4) {
	grid-column-start: 2;
	align-self: flex-start;
}
.card__text {
	margin-top: auto;
}
.map {
	width: 100%;
	margin-bottom: var(--margin);
}
.jobs__heading {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: var(--gap);
	text-align: center;
}
.jobs__heading::after {
	content: '';
	position: absolute;
	width: 127px;
	height: 99px;
	left: -20%;
	top: -30px;
	background: var(--color-bg-blue);
	border-radius: 0px 0px 100px 0px;
	transform: rotate(-180deg);
}
.tab {
	width: 90%;
	height: 60px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	margin-bottom: var(--gap);
	padding: var(--margin-inner) var(--gap);
	background-color: var(--color-main);
}
.tab__link {
	position: relative;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.tab__content {
	display: none;
	width: 90%;
	padding-left: 150px;
}
.tab__content.is-shown {
	display: block;
}
.jobs-list__item {
	position: relative;
	width: 80%;
	margin-bottom: var(--margin);
}
.jobs-list__item::after {
	content: '';
	position: absolute;
	top: 25%;
	right: 0;
	width: 90px;
	height: 90px;
	background-size: contain;
	background-repeat: no-repeat;
}
.jobs-list__item.heapp::after {
	background-image: url(../assets/images/icons/heapp-logo-small.png);
}
.jobs-list__item.teamlead::after {
	background-image: url(../assets/images/icons/teamlead.png);
}
.jobs-list__item.c-icon::after {
	background-image: url(../assets/images/icons/c+++.png);
}
.jobs-list__item.spine::after {
	border-radius: 5px;
	background-image: url(../assets/images/icons/spine_logo.jpg);
}
.jobs-list__item.adobe-ps::after {
	border-radius: 5px;
	background-image: url(../assets/images/icons/adobe-photoshop.png);
}
.jobs-list__item.gamepad::after {
	border-radius: 5px;
	background-image: url(../assets/images/icons/gamepad.png);
}
.jobs-list__item.adobe-ae::after {
	border-radius: 5px;
	background-image: url(../assets/images/icons/adobe_after_effects_icon.png);
}
.jobs-list__item.scrolled::after {
	animation: slide-in-right 1s ease-in-out both;
}
.jobs-item__heading {
	font-weight: 500;
	font-size: 1.6vw;
	color: var(--color-main);
	text-transform: uppercase;
	margin-bottom: 10px;
}
.jobs-item__text {
	width: 70%;
	padding-left: var(--margin-inner);
}
.jobs__text {
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-top: var(--margin);
	margin-bottom: var(--margin);
	padding-left: var(--margin);
}
.jobs__text::before {
	top: -25%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 150%;
}
.jobs-list__item.heapp::after {
	right: 20px;
}
/* services page */
.services-heading {
	font-size: 34px;
}
.services-subheading {
	font-size: 24px;
}
.team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: var(--margin-outer);
	padding: var(--gap);
	background: var(--color-bg-blue);
	border-radius: 150px 0px 0px 0px;
}
.team__subheading,
.process__subheading {
	display: inline-block;
	position: relative;
	margin-bottom: var(--margin-inner);
}
.team__subheading::after {
	top: -60px;
	left: -60px;
	width: 90px;
	height: 95px;
	background: rgba(0, 113, 189, 0.19);
	border-radius: 0px 0px 100px 0px;
	transform: rotate(-180deg);
}
.process,
.contact-us {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.process__img,
.process-list {
	flex: 1 1 50%;
}
.process__img {
	max-width: 45vw;
	box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
	border-radius: 32px;
}
.contacts-img {
	width: 41vw;
}
.contact-us {
	padding-left: var(--margin);
	padding-right: var(--margin);
}
.contact-us__text-wrap::after {
	top: 35px;
	left: -50px;
	width: 135px;
	height: 135px;
	background: rgba(240, 191, 1, 0.2);
	border-radius: 0px 0px 100px 0px;
	transform: rotate(90deg);
}
.contact-us__text {
	font-weight: 400;
	font-size: 24px;
	line-height: 160%;
	color: var(--color-text);
}
.contact-us__text--small {
	font-size: 18px;
	font-weight: 300;
}
.contact-us__link-wrap {
	width: 40%;
}
.contact-us__text-wrap::after,
.contact-us__link-wrap::before,
.contact-us__link-wrap::after,
.contacts-list::before,
.contacts-list::after,
.responsibilities::before,
.responsibilities::after {
	content: '';
	position: absolute;

	z-index: -1;
}
.contact-us__link-wrap::before {
	top: -94px;
	left: -170px;
	width: 560px;
	height: 250px;
	background-color: var(--color-bg-darkviolet);
	border-radius: 70px 50px 50px 120px;
}

.contact-us__link-wrap::after {
	top: -170px;
	right: -120px;
	width: 190px;
	height: 190px;
	background-image: url(../assets/images/Dot.svg);
	background-repeat: no-repeat;
}
.contact-us__link {
	padding: var(--margin-inner) var(--gap);
	background-color: var(--color-main);
	border-radius: 60px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.065em;
	color: #fff;
	border: 0.5px solid #fff;
}
/* contact us page */
.contacts > .hero__heading {
	padding-left: 30px;
}
.contacts {
	padding: var(--margin);
}
.contacts__list {
	position: relative;
	box-sizing: content-box;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 120%;
	border-radius: 75px;
}
.contacts-list,
.responsibilities {
	padding: var(--gap);
	background: #f4f9ff;
	background-size: 150%;
}
.contacts-list::before,
.responsibilities::before,
.responsibilities::after {
	width: 110px;
	height: 110px;
	background: var(--color-bg-violet);
	border-radius: 0 0 0 100px;
}
.contacts-list::before {
	top: 50px;
	left: -50px;
	opacity: 0.7;
}
.contacts-list::after {
	top: -50px;
	right: -40px;
	width: 135px;
	height: 135px;
	background-image: url(../assets/images/Dot.svg);
	background-repeat: no-repeat;
}
.contacts-list__item:not(:last-child) {
	margin-right: var(--margin-inner);
}
.contacts-list__text {
	font-size: 1rem;
	color: var(--color-text);
}
/* social responsibilities */
.responsibilities {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--margin);
	border-radius: 150px 0px 0px 0px;
}
.responsibilities::before {
	bottom: -60px;
	left: -62px;
	opacity: 0.4;
}
.responsibilities::after {
	top: -60px;
	right: -65px;
	transform: rotate(180deg);
	opacity: 0.4;
}
.responsibilities__heading {
	margin-bottom: var(--gap);
}
.links-list__link {
	position: relative;
	font-weight: 400;
	font-size: 1.5vw;
	line-height: 110%;
	text-transform: uppercase;
	color: #00aeda;
}
/* links, buttons states */
.header__logo,
.nav-list__link,
.footer__link,
.tab__link,
.link,
.contact-us__link,
.links-list__link {
	transition: all 0.3s ease-in-out;
}
.nav-list__link:hover::after,
.footer__link:hover::after,
.link::after,
.links-list__link::after {
	transition: width 0.3s ease-in-out;
}
.nav-list__link::after,
.footer__link::after,
.tab__link::after,
.link::after,
.links-list__link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #fff;
	backface-visibility: hidden;
}
.link::after {
	height: 1px;
	background-color: var(--color-link);
}
.links-list__link::after {
	height: 1px;
	background-color: #00aeda;
}
.footer__link::after {
	height: 1px;
}
.link:focus,
.links-list__link:focus {
	color: var(--color-main);
}
.header__logo:focus {
	box-shadow: 0 0 0 2px rgba(202, 202, 202, 0.678);
}
.contact-us__link:focus {
	opacity: 0.8;
}
.nav-list__link:focus,
.footer__link:focus,
.tab__link:focus {
	color: #cacaca;
}
.about-us-thumb-img:focus {
	border: 1px solid var(--color-bg-violet);
}
.header__logo:hover {
	transform: scale(1.1, 1.1);
}
.about-us-slider__btn:focus {
	border-color: var(--color-bg-violet);
}
.about-us-slider__btn.is-active:focus {
	border-color: #000;
}
.nav-list__link:hover::after,
.footer__link:hover::after,
.tab__link:hover::after,
.tab__link.is-active::after,
.link:hover::after,
.links-list__link:hover:after {
	width: 100%;
}
.contact-us__link:hover {
	border-width: 0.5px;
	border-color: var(--color-bg-violet);
	box-shadow: 0px 0px 20px 8px var(--color-bg-violet);
}
.about-us-slider__btn:hover,
.about-us-thumb-img:hover {
	filter: brightness(0.9);
	z-index: 1;
}
.header__logo:active,
.nav-list__link:active,
.footer__link:active,
.tab__link:active,
.link:active,
.contact-us__link:active,
.links-list__link:active,
.about-us-slider__btn:active,
.about-us-thumb-img:active {
	transform: scale(0.9, 0.9);
}
.contact-us__link:active {
	background-color: #fff;
	color: var(--color-main);
}
.links-list__link:active {
	color: #00aeda;
}
@media screen and (min-width: 2500px) {
	.header,
	.footer {
		padding-left: 19vw;
		padding-right: 19vw;
	}
	.container {
		width: 70%;
	}
	.responsibilities {
		margin: 0 auto;
		margin-top: var(--margin-outer);
	}
	.hero {
		justify-content: center;
		width: 80%;
		margin: 0 auto;
		margin-bottom: var(--margin-outer);
	}
	.hero::after {
		right: -43px;
		bottom: -82px;
		height: 190px;
	}

	.hero__text,
	.team-list__item,
	.process-list__item {
		font-size: 18px;
	}
	/* jobs page */
	.features-list__card {
		width: 360px;
		height: 300px;
	}
	contact-us__link- .features-list__card::before {
		left: 37%;
	}
	/* services page */
	.process__subheading::after {
		height: 142px;
	}
	/* contacts page */
	.content-wrap.contacts {
		width: 65%;
		margin-left: 7%;
	}
	.contacts__list {
		justify-content: space-around;
		font-size: 20px;
	}
	.contacts-list::before {
		top: 94px;
		left: -37px;
	}
	.contact-us__link-wrap::after {
		top: -6vw;
		right: -12vw;
	}
}
