@font-face {
	font-family: 'Roboto';
	src: local('RobotoLight'), local('Roboto-Light'),
		url(../assets/fonts/roboto-light-webfont.woff2),
		url(../assets/fonts/roboto-light-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoLightItalic'), local('Roboto-Light-Italic'),
		url(../assets/fonts/roboto-lightitalic-webfont.woff2),
		url(../assets/fonts/roboto-lightitalic-webfont.woff);
	font-display: swap;
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoRegular'), local('Roboto-Regular'),
		url(../assets/fonts/roboto-regular-webfont.woff2),
		url(../assets/fonts/roboto-regular-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoMedium'), local('Roboto-Medium'),
		url(../assets/fonts/roboto-medium-webfont.woff2),
		url(../assets/fonts/roboto-medium-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: local('RobotoBold'), local('Roboto-Bold'),
		url(../assets/fonts/roboto-bold-webfont.woff2),
		url(../assets/fonts/roboto-bold-webfont.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
:root {
	--color-main: #2a2d93;
	--color-link: #0071bd;
	--color-bg-blue: rgba(0, 113, 189, 0.19);
	--color-bg-darkviolet: rgba(46, 49, 146, 0.12);
	--color-bg-violet: rgba(42, 45, 147, 0.92);
	--color-text: #565656;
	--margin-outer: 100px;
	--margin: 80px;
	--gap: 40px;
	--margin-inner: 20px;
}
*,
*::before,
::after {
	box-sizing: border-box;
	outline: none;
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100vh;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.link-reset {
	color: currentColor;
	text-decoration: none;
}
.list-reset {
	padding: 0;
	list-style: none;
}
.btn-reset {
	background-color: transparent;
	border: 1px solid transparent;
}
.link-reset,
.btn-reset {
	transition: all 0.3s ease-in-out;
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
}
.container {
	margin: 0 auto;
	padding: 0 var(--margin-outer);
}
.heading {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	text-transform: uppercase;
}
.subheading {
	font-weight: 500;
	font-size: 26px;
	line-height: 110%;
}
.text,
.card__text {
	font-weight: 400;
	font-size: 16px;
	color: var(--color-text);
}
.text {
	max-width: 75%;
	line-height: 32px;
}
.link {
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: var(--color-link);
	mix-blend-mode: normal;
}
.subtitle {
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-text);
}
/* header */
.header,
.nav-list,
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header {
	padding: 10px 100px;
	background-color: var(--color-bg-violet);
	z-index: 10;
}
.header__logo-img {
	width: 70px;
	height: 69px;
}
.nav-list__item:not(:last-child) {
	margin-right: 30px;
}
.nav-list__link {
	position: relative;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	text-transform: uppercase;
}
.header__burger-container {
	display: none;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(46, 49, 146, 0.46);
}
/* hero */
.content-wrap {
	width: 50%;
	padding-top: 10px;
	padding-left: 120px;
}
.hero {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-start;
	margin-bottom: calc(var(--margin-outer) + var(--gap));
}
.hero::after {
	content: '';
	position: absolute;
	right: 10vw;
	bottom: -65px;
	width: 100px;
	height: 97px;
	border-bottom-right-radius: 60px;
	background-color: var(--color-bg-darkviolet);
	z-index: -1;
}
.hero__heading,
.hero__subheading {
	margin-bottom: var(--margin-inner);
}
.hero__img {
	width: 50%;
	border-bottom-left-radius: 200px;
}
/* footer */
footer-component {
	margin-top: auto;
}
.footer {
	padding: 23.5px 100px;
	color: #fff;
	background-color: var(--color-main);
}
.footer__text,
.footer__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
}
.footer__link {
	position: relative;
}
/* projects page */
.projects {
	position: relative;
	height: inherit;
}
.projects-footer {
	position: absolute;
	bottom: 0;
}
.section {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	clip: rect(0, auto, auto, 0);
}
.section .fixed {
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 80%;
}
.section:nth-child(1) {
	top: 0;
	z-index: 1;
}
.section:nth-child(1) .fixed {
	transform: translate(-50%, -50%);
}
.section:nth-child(2) {
	top: 100vh;
	z-index: 2;
}
.section:nth-child(2) .fixed {
	transform: translate(-50%, -50%);
}
.section:nth-child(3) {
	top: 200vh;
	z-index: 3;
}
.section:nth-child(3) .fixed {
	transform: translate(-50%, -50%);
}
.section__content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	margin-right: 50px;
}
.section__video {
	width: 50%;
	border-radius: 20px;
}
.section__logo {
	margin-bottom: var(--margin-inner);
}
.section__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: #fff;
}
.summer-friends {
	background-color: #03b1fe;
}
.summer-friends__logo {
	width: 350px;
}
.darkest-afk {
	background-color: #000;
}
.darkest-afk__logo {
	width: 250px;
}
.wondermatch {
	background-color: #0663b1;
}
.wondermatch__logo {
	width: 400px;
}
.footer-component {
	position: absolute;
	top: 310vh;
	right: 0;
	left: 0;
	z-index: 4;
}
/* about us page */
.about-us,
.office {
	margin-bottom: var(--margin-outer);
}
.about-us {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-us__text {
	position: relative;
	width: 30%;
	margin-bottom: var(--margin);
}
.about.about-us__text::after,
.jobs-hero::after,
.features__text::after {
	content: '';
	position: absolute;
	width: 220px;
	height: 220px;
	background: url('../assets/images/Dot.svg') no-repeat;
	z-index: -1;
}
.about-us__text::after {
	bottom: -70px;
	left: 26px;
}
#customize_wrapper {
	display: flex !important;
}
.tns-outer {
	width: 75%;
	height: 560px;
}
.tns-inner {
	height: 560px;
}
.about-us-slide {
	display: inline-flex !important;
	justify-content: space-evenly;
	align-items: stretch;
}
.img-wrap {
	position: relative;
	align-self: center;
	width: 40%;
}
.img-wrap::after {
	content: '';
	position: absolute;
	width: 7vw;
	height: 7vw;
	border: 8px solid var(--color-bg-violet);
	border-radius: 50%;
	z-index: -1;
}
.about-us-slide:first-child .img-wrap::after {
	bottom: 10%;
	left: 0;
}
.about-us-slide:nth-child(2) .img-wrap::after {
	bottom: -6%;
	left: 20%;
}
.about-us-slide:nth-child(3) .img-wrap::after {
	bottom: -8%;
	left: 0;
}
.about-us-slide__img {
	max-height: 460px;
	border-radius: 500px 0px 500px 500px;
}
.about-us-slide:nth-child(2) .about-us-slide__img {
	border-radius: 10%;
	transform: translateX(40%);
}
.about-us-slide:nth-child(3) .about-us-slide__img {
	max-height: 370px !important;
}
.about-us-slide > .content-wrap {
	width: 35%;
	padding-left: 0;
}
.about-us-slide__heading {
	margin-bottom: var(--margin-inner);
	text-align: center;
}
.about-us-slide__text {
	max-width: 100%;
	text-align: left;
}
.tns-controls {
	width: 20%;
	margin: 0 0 0 57%;
}
.tns-controls [aria-controls] {
	font-size: 0;
	width: 25px;
	height: 25px;
	background-color: transparent;
	border-right: 5px solid var(--color-bg-blue);
	border-top: 5px solid var(--color-bg-blue);
	transform: rotateZ(45deg);
	transition: all 0.3s ease-in-out;
}
.tns-controls [aria-controls]:first-child {
	margin-right: var(--margin-outer);
	transform: rotateZ(45deg) scale(-1);
}
.tns-controls [aria-controls]:disabled {
	border-color: rgba(202, 202, 202, 0.199);
}
.tns-controls [aria-controls]:hover {
	border-color: var(--color-bg-violet);
}
.about-us__thumbnail {
	width: 100% !important;
	height: 100px;
}
.customize-tools {
	height: 100%;
	width: 15vw;
}
.thumbnails {
	position: relative;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
}
.thumbnails::after {
	content: '';
	position: absolute;
	top: -3%;
	left: 32%;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background-color: var(--color-bg-darkviolet);
	z-index: -1;
}
.thumbnails img {
	max-height: 100px;
}
.about-us__thumbnail {
	display: flex !important;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 10px;
}
.about-us-thumb-img {
	border-radius: 50%;
	justify-self: flex-end;
}
.about-us-thumb-img:last-child {
	margin-left: auto;
}
.thumbnails .tns-nav-active {
	border: none;
	grid-area: 2;
	justify-content: center;
	margin: 0 auto;
}
.thumbnails .tns-nav-active > img {
	transform: scale(1.3, 1.3);
}
.prewiew {
	transform: scale(0.7, 0.8);
	width: 80px;
	height: 70px !important;
}
.thumbnails .tns-nav-active > .prewiew {
	display: none;
}
.about-section:last-child {
	margin-bottom: calc(var(--margin-outer) * 2);
}
.about-section__heading {
	text-align: center;
	margin-bottom: var(--gap);
}
.about-section__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--gap);
}
.about-section__item:nth-child(2n) {
	flex-direction: row-reverse;
}
.about-section__content-wrap {
	max-width: 40%;
}

.about-section__item:nth-child(2n) .about-section__subtitle {
	text-align: right;
}
.about-section__img-wrap {
	width: 40%;
	height: auto;
}
.about-section__img {
	width: 100%;
	max-height: 450px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 32px;
	box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
}
.about-section__subheading {
	margin-bottom: 10px;
}
.about-section__subheading--sm {
	margin-bottom: var(--margin-inner);
}
.about-section__text {
	position: relative;
	max-width: 100%;
}
.about-section__text::after {
	content: '';
	position: absolute;
	width: 141.05px;
	height: 178px;
	left: -20px;
	top: -30%;
	background: var(--color-bg-darkviolet);
	border-radius: 0px 0px 100px 0px;
	z-index: -1;
}
/* jobs page */
.jobs-hero,
.features,
.features__heading,
.features__text {
	position: relative;
}
.jobs-hero::after {
	left: 10%;
	bottom: 0;
}
.features {
	display: grid;
	grid-template-columns: 500px 280px 200px;
	grid-gap: var(--margin);
	margin-bottom: var(--margin-outer);
}
.features::after,
.features__heading::after,
.features__text::after {
	content: '';
	position: absolute;
}
.features::after {
	top: 10%;
	right: 10%;
	width: 75%;
	height: 80%;
	background-color: var(--color-bg-darkviolet);
	border-radius: 150px 0px 0px 0px;
	opacity: 0.5;
	z-index: -1;
}
.features__heading {
	width: 55%;
}
.features__heading::after {
	top: -85%;
	left: -20px;
	width: 162px;
	height: 178px;
	background: var(--color-bg-blue);
	border-radius: 0px 0px 100px 0px;
	transform: rotate(-180deg);
}
.features__text::after {
	left: 0;
	bottom: -70%;
}
.features__list {
	display: grid;
	grid-template-rows: repeat(4, 330px);
	grid-gap: var(--margin-inner) var(--gap);
	grid-auto-flow: column;
}
.features-list__card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: var(--margin-inner);
	gap: 10px;
	width: 278px;
	height: 250px;
	border: 1px solid #f2f2f2;
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
	border-radius: 40px;
}
.features-list__card::before {
	content: '';
	position: absolute;
	top: var(--margin-inner);
	left: 30%;
	min-width: 115px;
	min-height: 115px;
	background-repeat: no-repeat;
	background-size: cover;
}
.features-list__card.heart::before {
	background-image: url('../assets/images/icons/heart_icon.png');
}
.features-list__card.balance::before {
	background-image: url('../assets/images/icons/balance_icon.png');
}
.features-list__card.communication::before {
	background-image: url('../assets/images/icons/communication3_icon.png');
}
.features-list__card.muscle::before {
	background-image: url('../assets/images/icons/muscle_icon.png');
}
.features-list__card.programs::before {
	background-image: url('../assets/images/icons/programs4_icon.png');
}
.features-list__card.puzzle::before {
	background-image: url('../assets/images/icons/puzzle_icon.png');
}
.features-list__card.superman::before {
	background-image: url('../assets/images/icons/superman_icon.png');
}
.heart,
.communication,
.balance {
	align-self: flex-end;
}
.features-list__card:nth-child(1n + 4) {
	grid-column-start: 2;
	align-self: flex-start;
}
.card__text {
	text-align: center;
}
.map {
	width: 100%;
	margin-bottom: var(--margin);
}
.jobs__heading {
	position: relative;
	margin-bottom: var(--gap);
	text-align: center;
}
.jobs__heading::after {
	content: '';
	position: absolute;
	width: 127px;
	height: 99px;
	left: 36%;
	top: -30px;
	background: var(--color-bg-blue);
	border-radius: 0px 0px 100px 0px;
	transform: rotate(-180deg);
}
.tab {
	width: 100%;
	height: 60;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--gap);
	padding: var(--margin-inner) var(--gap);
	background-color: var(--color-main);
}
.tab__link {
	position: relative;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.tab__content {
	padding-left: var(--margin);
}
.jobs-list__item {
	position: relative;
	width: 70%;
}
.jobs-list__item:not(:last-child) {
	margin-bottom: var(--margin);
}
.jobs-list__item::after {
	content: '';
	position: absolute;
	top: 25%;
	right: 0;
	width: 100px;
	height: 98px;
	background-size: contain;
	background-repeat: no-repeat;
}
.jobs-list__item.heapp::after {
	background-image: url(../assets/images/icons/heapp-logo-small.png);
}
.jobs-list__item.c-icon::after {
	background-image: url(../assets/images/icons/c+++.png);
}
.jobs-item__heading {
	font-weight: 500;
	font-size: 28px;
	color: var(--color-main);
	text-transform: uppercase;
	margin-bottom: 10px;
}
.jobs-item__text {
	width: 70%;
	padding-left: var(--margin-inner);
}
/* links, buttons states */
.header__logo,
.nav-list__link,
.footer__link,
.tab__link {
	transition: all 0.3s ease-in-out;
}
.nav-list__link:hover::after,
.footer__link:hover::after {
	transition: width 0.3s ease-in-out;
}
.nav-list__link::after,
.footer__link::after,
.tab__link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #fff;
	backface-visibility: hidden;
}
.footer__link::after {
	height: 1px;
}
.header__logo:focus {
	box-shadow: 0 0 0 2px rgba(202, 202, 202, 0.678);
}
.nav-list__link:focus,
.footer__link:focus,
.tab__link:focus {
	color: #cacaca;
}
.header__logo:hover {
	transform: scale(1.1, 1.1);
}
.nav-list__link:hover::after,
.footer__link:hover::after,
.tab__link:hover::after,
.tab__link.is-active {
	width: 100%;
}
.header__logo:active,
.nav-list__link:active,
.footer__link:active,
.tab__link:active {
	transform: scale(0.9, 0.9);
}
